.container {
  max-width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container h1 {
  font-size: 3rem;
  font-weight: bold;
}

.container hr {
  height: 4px;
  background: #000;
  margin: 2rem 0;
  border: none;
}

.container form {
  margin-bottom: 4rem;
}

.container input {
  border: 1px solid rgb(177, 177, 177);
  padding: 1rem;
  min-width: 300px;
  margin: 0.2rem 0;
  outline: none;
}

input:focus {
  border: 1px solid black;
}

button[type='submit'] {
  margin-top: 1.5rem;
  border: none;
  background: black;
  color: white;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
}

.register {
  display: block;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 30px;
}

.register:hover {
  background: black;
  color: white;
}
